<%= stylesheet_link_tag "application" %>
 <div class="wrapper">

<h3>Please log in here:</h3>
<br>
<%= form_for(:user, url: sessions_path) do |f| %>
	
	<%= f.label :username, 'Username:' %>
  	<div><%= f.text_field :username %> <br></div>

  	<%= f.label :password, 'Password:' %>
  	<div><%= f.password_field :password %></div>
  	<%= render 'layouts/form_errors' %>
  		<br>

	<%= f.submit "Submit" %>
	
<% end %>

<br>
<% if session[:user_id] %>
  <h1><%= @user.name %></h1>
  <h2>Email: <%= @user.email %></h2>
  <h2>Google ID: <%= @user.uid %></h2>
  <img src="<%= @user.image %>">
<% else %>
  <%= link_to('Login with Google', '/auth/google_oauth2') %>
<% end %>

</div>
