
  <%= render 'layouts/form_errors' %>
  
	<%= f.label :username, 'Username:' %>
  	<div><%= f.text_field :username %> <br></div>

  	<%= f.label :password, 'Password:' %>
  	<div><%= f.text_field :password %></div>

  	


