<%= stylesheet_link_tag "application" %>
 <div class="wrapper">


  <h1>Locations entered by: <%= @user.name %> </h1>

  <%= f.label :created_at, "Created at" %>
    <%= f.date_field :created_at %><br>


   <ul> <% @locations.each do |location| %>
    	<li> <%= link_to location.id %> </li>
    	<li> <%= location.address %> </li>

</ul>
</div>
