<%= stylesheet_link_tag "application" %>
 <div class="wrapper">


  <h1>Locations entered by: <%= @user.name %> </h1>

  <%= f.label :created_at, "Created at" %>
    <%= f.date_field :created_at %><br>


    <% @locations.each do |location| %>
    	<%= link_to location.id %>
    	<%= location.address %>


</div>
