<%= stylesheet_link_tag "application" %>
 <div class="wrapper">

<% if !@user.locations.empty? %>
  
    <h2>This is a list of your entered locations:</h2>
   
    Click on a location ID to add any changes.
<br>
 <br>
<% @user.locations.each do |location| %>
<li>
    <%= link_to location.id, location_path(location) %>: 
       <%= location.address %>, 
       <%= location.lat %>, 
       <%= location.lng %>
</li>
<% end %>

<% elsif @user.locations.empty? %>

<h3>Your location library is currently empty. </h3>
<br>
Please add a location or check out the locations that have already been entered using the menu.

<% end %>


		
</div>