
<%= form_for :location do |f| %>

  <%= f.hidden_field :user_id %>

   <h3>
   	<%= f.label :address %>:
   	<%= f.text_field :address, size: "40x1"%><br>
   		
   	<%= f.label :lat, "Latitude" %>:
   	<%= f.number_field :lat, step: 0.01 %>


   	<%= f.label :lng, "Longitude" %>:
   	<%= f.number_field :lng, step: 0.01 %><br>

   	<%= f.label :description %>:
   	<%= f.text_area :description, placeholder: "Please describe the location", size: "53x6" %>

    <br>
    Location type: 
      <%= f.select(:loc_type, options_for_select([['Public', 'Public'], ['Private', 'Private']]), prompt:true )%> </h3>
    
  <br>
    <h3> Food type: </h3>
    <%= f.fields_for :edible do |e| %> 
      <div><h4> <%= e.collection_check_boxes :edible_id, Edible.order('name ASC').all, :id, :name, { checked: true, multiple: true } %>
      </div>
        <br>
      <% end %>

<br>
  <br>
     <%= f.submit%> 

    <% end %>
