<h3> This is the form partial </h3>

<%= form_for(@location) do |f| %>

   <h3>
   	<%= f.label :address %>:
   	<%= f.text_field :address, placeholder: "Only Bellingham, WA Please", size: "40x1"%><br>
   		
   	<%= f.label "latitude" %>:
   	<%= f.number_field :lat %>


   	<%= f.label "longitude" %>:
   	<%= f.number_field :lng %><br>

   	<%= f.label :description %>:
   	<%= f.text_area :description, size: "53x6" %><br>

  	Select a location type:
	<%= f.fields_for :locations do |l| %>
   		<%= l.collection_select :id, Location.all, :id, :loc_type, include_blank: true %><br>
 		<% end %>

   	Select a food type for this location: *
   	<%= f.fields_for :location_edibles do |le| %>
   		<%= le.collection_select :edible_id, Edible.order('name ASC').all, :id, :name, include_blank: true %>

   	<%= le.fields_for :edible, location.edibles.build do |e| %><br>
    
   		
    Or create new food type: <%= e.text_field :name %>


		<% end %>
   		
   		<% end %>

     <%= f.submit "Submit"%></h3>

    <% end %>
