

<%= form_for [@user, @location] do |f| %>

  <%= f.hidden_field :user_id %>

   <h3>
    <%= f.label :address %>:
    <%= f.text_field :address, size: "40x1"%><br>
      
    <%= f.label :lat, "Latitude" %>:
    <%= f.number_field :lat, step: 0.01 %>


    <%= f.label :lng, "Longitude" %>:
    <%= f.number_field :lng, step: 0.01 %><br>

    <%= f.label :description %>:
    <%= f.text_area :description, placeholder: "Please describe the location", size: "53x6" %>

    <br>
    Location type: 
      <%= f.select(:loc_type, options_for_select([['Public', 'Public'], ['Private', 'Private']]), prompt:true )%> </h3>
    
<h3> Food availability: </h3>
    <%#= f.label :availability %>
    <%#= f.text_area :availability, placeholder: "Please briefly describe availability of food", size: "25x3" %>

  <br>
    <h3> Food type: </h3>
    <%= f.fields_for :location_edibles do |le| %> 
      <h4> <%= le.collection_check_boxes :edible_ids, Edible.order('name ASC').all, :id, :name, { checked: true, multiple: true } %>
            
<br>
        <%= le.fields_for :edibles, Edible.new do |build| %>
    <br>
    Or create new food type: <%= build.text_field :name %>
    <% end %>
      <% end %>
   
        <br>

  <br>
     <%= f.submit%> 

    <% end %>