<%= stylesheet_link_tag "application" %>
<div class="wrapper">

  <% if @locations.exists? %>
    <h3>Here are the list of locations entered into the database in Bellingham, WA:</h3>

    <% @locations.each do |location| %>
    <br>
        Location #<%=link_to location.id, location_path(location) %>
        
        <%= location.address%>,
        <br>Lat.: <%= location.lat.to_f%>
        <br>Long.: <%= location.lng.to_f%>
    <br>
   
          <% end %>
          <br>
          <h4> Click on the ID for more information on the location.</h4>
  <% else %>
    <h4> There are no locations in the database. 
    Please log in or sign in and create a location using the menu above!</h4>

  <% end %>
<br>

</div>