<%= stylesheet_link_tag "application" %>
<div class="wrapper">

<h2>Details of location:</h2>

<h3>Location id: 
    #<%= @location.id %> </h3>

<h3>Address:</h3>
    <%= @location.address %> 
<br>
<h3>Latitude:</h3>
    <%= @location.lat %> 
<br>
<h3>Longitude:</h3>
    <%= @location.lng %> 

<h3>Location description:</h3>
<%= @location.description %>
<br>

<h3>Location type:</h3>
    <%= @location.loc_type %> 
<br>


</div>

