<!DOCTYPE html>
<html>
    <head>
        <style>
            .dropbtn {
                background-color: #656865;
                color: white;
                padding: 15px 57px;
                font-size: 16px;
                border: none;
            }

            .dropdown {
                position: relative;
                display: inline-block;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f1f1f1;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
            }

            .dropdown-content a {
                color: black;
                padding: 15px 16px;
                text-decoration: none;
                display: block;
            }
            .dropdown-content a:hover {background-color: #ddd;}

            .dropdown:hover .dropdown-content {display: block;}

            .dropdown:hover .dropbtn {background-color: #656865;}

        </style>
     </head>


<div class="dropdown">
  <button class="dropbtn">MENU</button>
  <div class="dropdown-content">
    <%= link_to "Home", root_path %>
    <%= link_to 'Log in', login_path %>
    <%= link_to('Log in with Google', '/auth/google') %>
    <%= link_to 'Sign up', signup_path %>
    <%= link_to "All Locations", locations_path %>
    <%= link_to 'Log out', logout_path, method: :distroy %> 

  </div>
</div>

</body>
</html>